.heading {
  margin-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.figure {
  margin: 0 auto 2.5rem auto;
}

.metaWrap {
  padding-top: 1rem;
  border-top: 2px solid black;
}

.map {
  margin-top: 2rem;
}

.comments {
  margin-top: 2rem;
  border-top: 2px solid black;
}

@media screen and (min-width: 700px) {
  .metaWrap {
    display: flex;
  }

  .map {
    margin-top: 0;
  }

  .meta {
    flex: 1;
  }

  .camera {
    margin-right: 1rem;
  }
}
