.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.figure {
  margin-bottom: 3rem;
}

.bigDescription {
  display: inline-block;
  margin-left: 1rem;
  font-size: 3rem;
  letter-spacing: 0.125rem;
}
