*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 100%/1.6 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  letter-spacing: 0.75px;
}

body {
  padding-left: 0.888889rem;
  padding-right: 0.888889rem;
  background-color: #222;
  color: #f9f9f9;
}

a {
  color: #aed8ff;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.main-content p {
  margin-bottom: 0.888889rem;
}

.main-content p .keyboard {
  display: inline-block;
  border: 1px solid #f9f9f9;
  border-radius: 0.166667rem;
  font-style: normal;
  min-width: 1.055556rem;
  text-align: center;
  font-size: 0.555556rem;
  padding: 0 0.222222rem;
  margin-right: 0.111111rem;
  transform: translateY(-0.111111rem);
}
