
@import "../../styles/functions"


.main
    position: relative
    min-height: calc(100vh - #{rem(190)})
    background-position: center center
    background-repeat: no-repeat
    background-size: cover


.shade
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background-color: rgba(black, .8)
    z-index: 0


.inner
    position: relative
    padding: rem(32)
    z-index: 10


.intro
    margin-bottom: rem(32)
    font-size: rem(24)
