.intro {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.aside {
  padding: 1rem 0;
}

.headline {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.list {
  display: flex;
}

.image {
  width: 33.3%;
  margin-bottom: 1rem;
}

.imageLink {
  display: block;
  opacity: 0.75;
  transition: opacity 200ms ease-in-out;
}

.imageLink:hover,
.imageLink:focus {
  opacity: 1;
}

.moreLink {
  font-size: 0.625rem; /* 10 / 16 */
}

@media screen and (min-width: 700px) {
  .aside {
    position: relative;
    padding: 0 2.25rem 1rem 2.25rem; /* 26 / 16 */
  }

  .aside::before,
  .aside::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
  }

  .aside::before {
    left: -2px;
    background-color: #111;
  }

  .aside::after {
    left: -1px;
    background-color: #333;
  }

  .list {
    display: inherit;
  }

  .image {
    margin-bottom: 2.25rem; /* 36 / 16 */
    width: auto;
  }
}

@media screen and (min-width: 1000px) {
  .headline {
    margin-bottom: 2rem;
    font-size: 1.5rem; /* 24 / 16 */
  }

  .moreLink {
    font-size: inherit;
  }
}
