.wrap {
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  color: var(--color-bright);
  font-size: 1rem;
  opacity: 0.7;
  transition: opacity 250ms ease;
  text-decoration: none;
  line-height: 1;
}

.button::before {
  content: '\21B5';
  display: block;
  position: absolute;
  left: 0;
  top: 0.625rem; /* 10 / 16 */
  pointer-events: none;
}

.button:hover,
.button:focus {
  opacity: 1;
  text-decoration: underline;
}
