.footer {
  margin-top: 2rem;
  background-color: black;
}

.inner {
  padding: 1rem 0.5rem; /* 8 / 16 */
  margin: 0 auto;
  max-width: var(--content-max-width);
  font-size: 0.75rem; /* 12 / 16 */
}

.nav {
  display: inline;
}
