.hardware {
  padding-left: 1.75rem; /* 28 / 16 */
  margin-bottom: 1.125rem; /* 18 / 16 */
  font-size: 1.125rem; /* 18 / 16 */
  background: url(../images/camera.svg) 0 45% no-repeat;
  background-size: auto 95%;
}

.list {
  font-size: 0.875rem; /* 14 / 16 */
}

.type {
  width: 6.875rem; /* 110 / 16 */
  margin-bottom: 0.125rem; /* 2 / 16 */
  float: left;
  clear: left;
  font-weight: 100;
}

.type::after {
  content: ':';
}

.definition {
  margin: 0.0625rem 0 0.125rem 6.875rem; /* 1 / 16 | 2 / 16 | 110 / 16 */
}

.tags {
  margin-top: 1.5rem;
}

.tag {
  display: inline-block;
  padding: 0 0.5rem;
  margin: 0 0.5rem 0.5rem 0;
  border-radius: 0.25rem;
  background: var(--color-greyish);
  color: #222;
  text-decoration: none;
  user-select: none;
}

.tag:hover,
.tag:focus {
  background: var(--color-light-blue);
}

.aperture::before {
  content: 'ƒ';
}
