.container {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--color-dark-grey);
}

.wrap {
  flex: 1;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 0.5rem; /* 8 / 16 */
  margin: 0 auto;
}

.aside {
  padding: 1rem;
  margin-top: 4rem;
  background-color: var(--color-medium-dark-grey);
}

@media screen and (min-width: 700px) {
  .wrap {
    padding-right: 1rem; /* 16 / 16 */
    padding-left: 1rem; /* 16 / 16 */
  }

  .hasAside.wrap {
    display: flex;
  }

  .main {
    width: 63%;
    margin-right: 7%;
  }

  .aside {
    box-sizing: border-box;
    width: 30%;
    padding: 2.25rem; /* 26 / 16 */
  }
}
