.container {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--color-dark-grey);
}

.wrap {
  flex: 1;
  width: 100%;
  max-width: var(--content-max-width);
  padding: 0 0.5rem; /* 8 / 16 */
  margin: 0 auto;
}

@media screen and (min-width: 700px) {
  .hasAside.wrap {
    display: flex;
  }

  .main {
    width: 68%;
    margin-right: 7%;
  }

  .aside {
    width: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .main {
    width: 63%;
  }

  .aside {
    width: 30%;
  }
}
