:root {
  --color-dark-grey: #222;
  --color-medium-dark-grey: #444;
  --color-blue: #2f9bff;
  --color-light-blue: #aed8ff;
  --color-greyish: #e0e0e0;
  --color-bright: #f9f9f9;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 100%/1.6 'Helvetica Neue', 'Calibri Light', Roboto, sans-serif;
  letter-spacing: 0.75px;
  overflow-y: scroll;
}

body {
  padding-left: 0.875rem; /* 14 / 16 */
  padding-right: 0.875rem; /* 14 / 16 */
  background-color: var(--color-dark-grey);
  color: var(--color-bright);
}

a {
  color: var(--color-light-blue);
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.main-content p {
  margin-bottom: 0.875rem; /* 14 / 16 */
}

.main-content p .keyboard {
  display: inline-block;
  border: 1px solid var(--color-bright);
  border-radius: 0.166667rem;
  font-style: normal;
  min-width: 1.055556rem;
  text-align: center;
  font-size: 0.555556rem;
  padding: 0 0.222222rem;
  margin-right: 0.111111rem;
  transform: translateY(-0.111111rem);
}
