<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title><%= title %> | Photoblog</title>
    </head>
    <body>
        <%= content %>
        <% for (var i=0; i<photos.length; i++) { %>
            <img src="<%= photos[i].file %>" alt="" />
        <% } %>
    </body>
</html>
