
@import "../../styles/functions"
@import "../../styles/variables"


.figure
    margin: 0 auto rem(40) auto


.imageWrap
    display: block
    position: relative
    height: 0
    overflow: hidden


.image
    position: absolute
    top: 0
    left: 0


#{":global"} .no-js
    #{":local"} .image
        display: none

    #{":local"} .imageNoJs
        display: block


.imageNoJs
    display: none


.figcaption
    display: flex


.detailFigcaption
    margin-top: rem(8)
    font-size: rem(14)


.hashLink
    position: relative
    font-size: rem(12)
    text-decoration: none

    &:hover,
    &:focus
        text-decoration: none

        &::before
            content: "# "
            position: absolute
            top: rem(5)
            left: rem(-10)
            line-height: 1


.time
    flex: 0 1
    line-height: 1.9
    font-size: rem(12)
    color: darken($bright, 10%)
    vertical-align: top

    &.needsDash::after
        content: "—"
        display: inline
        padding: 0 rem(12)
        vertical-align: top
