
@import "../../styles/functions"
@import "../../styles/variables"


.figure
    margin-bottom: rem(40)


.imageWrap
    display: block
    position: relative
    height: 0
    overflow: hidden


.image
    position: absolute
    top: 0
    left: 0


#{":global"} .no-js
    #{":local"} .image
        display: none

    #{":local"} .imageNoJs
        display: block


.imageNoJs
    display: none


.time
    line-height: 1.9
    font-size: rem(12)
    color: darken($bright, 10%)
    vertical-align: top


.galleryTime::after
    content: "—"
    display: inline-block
    margin: 0 rem(12)
    vertical-align: top
