
@import "../../styles/functions"
@import "../../styles/variables"


.figure
    margin-bottom: rem(40)


.time
    line-height: 1.9
    font-size: rem(12)
    color: darken($bright, 10%)
    vertical-align: top


.galleryTime::after
    content: "—"
    display: inline-block
    margin: 0 rem(12)
    vertical-align: top
